body {
    font-family: "VT323", monospace;
    background-color: black;
    color: lightgreen;
    text-shadow: 3px 3px 10px lightgreen;
    font-size: 18pt;
    overflow-x: hidden;
    overflow-y: scroll;
}

::selection {
    background: lightgreen;
    color: black;
}

#main {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin-top: 15vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: black;
    border-left-style: solid;
    border-left-color: green;
}

::-webkit-scrollbar-button {
    background-color: lightgreen;
}

::-webkit-scrollbar-thumb {
    background-color: green;
    border-style: solid;
    border-color: lightgreen;
}

@keyframes flicker {
    0% {
        opacity: 0.37861;
    }

    5% {
        opacity: 0.54769;
    }

    15% {
        opacity: 0.99;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.93891;
    }


    35% {
        opacity: 0.67807;
    }

    45% {
        opacity: 0.94693;
    }

    55% {
        opacity: 0.18594;
    }

    65% {
        opacity: 0.91988;
    }

    100% {
        opacity: 0.34387;
    }
}



.crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 3;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

button {
    font-family: inherit;
    border-color: lightgreen;
    border-style: solid;
    border-radius: 0px;
    color: inherit;
    background-color: inherit;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-shadow: inherit;
    text-align: center;
    outline: none;
    margin-top: 10px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

button:active {
    color: green;
    border-color: green;
}

#asciiInput {
    border-radius: 0px;
    width: 90%;
    height: 30vh;
    overflow-x: auto;
    font-family: inherit;
    border-color: lightgreen;
    background-color: black;
    color: inherit;
    font-size: 30px;
    text-shadow: inherit;
    white-space: pre-wrap;
    outline: none;
    resize: none;
}

#out {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    white-space: break-spaces;
    background-color: black;
    margin-top: 10px;
    border-color: lightgreen;
    color: lightgreen;
    outline: none;
    resize: none;
    text-shadow: inherit;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 10;
}

form {
    font-size: 18pt;
    font-family: inherit;
    margin-top: 10px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: inline;
}

select {
    border-radius: 0px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border-color: lightgreen;
    outline: none;
    text-shadow: inherit;
}

option {
    background-color: black;
    border-color: lightgreen;
    border-style: solid;
}

#copyalert {
    position: fixed;
    width: 66%;
    height: 3em;
    background-color: black;
    border-color: lightgreen;
    border-style: solid;
    text-align: center;
    font-size: 2em;
    left: 17%;
    top: 33%;
    display: none;
    pointer-events: none;
    z-index: 2;
}

.focus:focus {
    border-color: green;
}

#head {
    white-space: pre;
    line-height: 0.657vw;
    font-size: 0.657vw;
}

#convert {
    width: auto;
    display: inline;
    white-space: normal;
    margin-bottom: 10px;
}

a {
    color: chartreuse;
}
#nlCheck {
    border-style: solid;
    border-color: lightgreen;
    color: rgba(0,0,0,0);
    text-shadow: none;
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    user-select:none;
    display: inline-block;
    cursor: pointer;
}
#nlContainer {
    position: relative;
    display: block;
    height: auto;
    margin-bottom: 10px;
}
#nlLabel {
    display: inline;
    position: relative;
}